/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 4, col 3, Warning - Expected `display`, found `height` (property-sort-order)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 5, col 3, Warning - Expected `margin`, found `width` (property-sort-order)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 9, col 3, Error - Values for properties of type 'margin' may only be variables (variable-for-property)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 17, col 3, Error - Values for properties of type 'margin' may only be variables (variable-for-property)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 24, col 3, Error - Values for properties of type 'margin' may only be variables (variable-for-property)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 28, col 3, Warning - Expected `margin`, found `list-style` (property-sort-order)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 30, col 3, Error - Values for properties of type 'margin' may only be variables (variable-for-property)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 36, col 5, Warning - Expected `display`, found `content` (property-sort-order)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 36, col 5, Error - Values for properties of type 'content' may only be variables (variable-for-property)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 47, col 7, Warning - Expected `display`, found `content` (property-sort-order)
/var/folders/3p/zfqrm2xj53qdklm_4b57x8kc0000gq/T/vEBYg0A/98/Header.scss: line 47, col 7, Error - Values for properties of type 'content' may only be variables (variable-for-property)

11 problems